.list-group-item .game-item{
  text-decoration: none;
  color: #555;
}

.questions-item-buttons{
  margin-top: 10px;
}

.questions-item-buttons .btn{
  margin-right: 10px !important;
}

.karaoke-edit-modal .MuiPaper-root{
  width: 90%;
}

.karaoke-edit-modal-cont{
  display: flex;
  flex-direction: column;
}

.karaoke-edit-modal-input{
  display: flex;
  margin-bottom: 10px !important;
  width: 100% !important;
}

.karaoke-edit-modal-input .MuiFormControl-root{
  width: 100%;
}

.karaoke-edit-modal-footer{
  display: flex;
  flex-direction: column;
}

.questions-item-body-img{
  width: 200px;
  margin-top: 20px;
}

.karaoke-edit-modal-cont-inputs{
  width: 100% !important;
  display: flex;
  flex-direction: column;
}

.karaoke-edit-modal-cont-inputs .MuiFormControl-root{
  width: 100%;
  margin-bottom: 10px;
}

.question-edit-modal .MuiPaper-root{
  width: 90%;
}

.question-edit-modal-input,
.question-edit-modal-input > div{
  width: 100% !important;
}

.karaoke-game-add-checkboxes > span{
  margin-right: 5px;
}

.karaoke-game-add-checkboxes{
  margin-bottom: 10px;
}

.choice-game-item-info{
  display: flex;
  flex-direction: column;
}

.gift-category-item{
  display: flex;
  flex-direction: column;
}